.listButtonsContainer {
  height: 100%;

  background: var(--white);
  border: 5px;
  box-shadow: 0 0 60px rgba(0,0,0,0.05);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.item {
  border:1px solid #868d86;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  font-family:Verdana;
  font-weight:bold;
  font-size:13px;
  padding:6px 10px;
  text-decoration:none;
}